<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ResturantsEntities" connectionString="metadata=res://*/ResturantModel.csdl|res://*/ResturantModel.ssdl|res://*/ResturantModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dotnetdb.cngnrfgvogdk.us-east-2.rds.amazonaws.com;initial catalog=Resturants;user id=sqladmin;password=s7ru2yx8;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>